In [57]:
people = {
    "first" : ["Corey", "Jane","John"],
    "last" : ["Schafer", "Doe", "Doe"],
    "email" : ["CoreyMSchafer@gmail.com", "JaneDoe@gmail.com", "JohnDoe@Gmail.com"]
}

In [64]:
import pandas as pd

In [65]:
df = pd.DataFrame(people)

In [66]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@Gmail.com

In [67]:
df['last'] == 'Doe'

0    False
1     True
2     True
Name: last, dtype: bool

In [69]:
filt = df['last'] == 'Doe'

In [70]:
df[filt]

  first last              email
1  Jane  Doe  JaneDoe@gmail.com
2  John  Doe  JohnDoe@Gmail.com

In [71]:
df.loc[filt]

  first last              email
1  Jane  Doe  JaneDoe@gmail.com
2  John  Doe  JohnDoe@Gmail.com

In [72]:
df.loc[filt,'email']

1    JaneDoe@gmail.com
2    JohnDoe@Gmail.com
Name: email, dtype: object

In [73]:
filt = (df['last'] == 'Schafer' ) | (df['first'] == 'John')

In [74]:
df[filt]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@Gmail.com

In [77]:
filt = (df['last'] == 'Doe' ) & (df['first'] == 'Jane')

In [78]:
df[filt]

  first last              email
1  Jane  Doe  JaneDoe@gmail.com

In [79]:
df[~filt]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@Gmail.com